mixin products(num, hover, listView)
    - var itemRow = {}
    - var className = ''

    - if(products.data[num])
        - itemRow = products.data[num];
    - else
        - itemRow = products.data[0];

    - if(hover)
        - className += 'products__item-img_index ';
    - if(hover && !listView)
        - className += 'products__item-img_hover';

    .products__item
        .products__item-img(class!=className, style="background-image: url('"+itemRow.img+"');")
            - if(hover && !listView)
                .products__item-img-contentHover
                    a(href="#").products__item-img-contentHover-title: span= itemRow.title
                    br
                    ul.products__item-img-contentHover-list
                        -for(var i = 0; i < itemRow.list.length; i++)
                            li: a(href="#"): span= itemRow.list[i]

            .products__item-img-content
                span.products__item-label= itemRow.title
        - if(!hover && !listView)
            ul.products__item-list
                -for(var i = 0; i < itemRow.list.length; i++)
                    li: a(href="#"): span= itemRow.list[i]