extends main

include ../components/item/item
include ../components/item-table/item-table

block head
    - var headData = {title: "Каталог"}

block content
    .container
        h1 Каталог камня
        p В наличии у нас более 30 видов гранита по цвету и месторождению. Мы осуществляем прямые поставки с российских, бразильских, индийских, казахстанских, китайских, норвежских, украинских месторождений. В нашем каталоге представлено большое количество расцветок: красный гранит, черный гранит, серый гранит и т.д. «Дом камня» создает изделия из гранита стандартных форм и размеров, а также по индивидуальным заказам. Собственное производство позволяет контролировать качество на всех этапах.
        hr


        .filter__table
            .filter__table-cell
                .filter__sections
                    .filter__sections-section
                        span.filter__sections-title Выберите вид камня:
                    .filter__sections-section
                        ul.tabs__nav.not-styleLink
                            li.active: a(href="#", data-block="#items11"): span: b Гранит
                            li: a(href="#", data-block="#items22"): span: b Мрамор
            .filter__table-cell.filter__table-cell__select
                .filter__sections
                    .filter__sections-section
                        span.filter__sections-title Цвет:
                    .filter__sections-section
                        select
                            option Бежевый
                            option item 1
                            option item 2
                            option item 3
            .filter__table-cell.filter__table-cell__select
                .filter__sections
                    .filter__sections-section
                        span.filter__sections-title Страна:
                    .filter__sections-section
                        select
                            option Не выбрана
                            option Все страны
                            option Российский
                            option Бразильский
                            option Индийский
                            option Казахстанские
                            option Китайские
                            option Норвежские
                            option Украинские
            .filter__table-cell.filter__table-cell__select
                .hidden-xs-down
                    .hidden-lg-up
                        span.filter__sections-title &nbsp;

                .form-search.form-search_hidden
                    button.form-search__btn: +icon('search')
                    .form-search__inputs
                        input(placeholder="Поиск по каталогу").form-search__inputs-input

        br
        .tabs__content
            .tabs__content-item.active#items11
                .itemList
                    -for(var i = 0; i<36;i++)
                        .itemList__section
                            +item(i)
            .tabs__content-item#items22
                .itemList
                    -for(var i = 0; i<36;i++)
                        .itemList__section
                            +item(i)
    br.hidden-xs-down

    hr.two
    .container
        h2 Цены на гранит
        +item-table()



    hr.two
    .container
        h2 Применение гранита
        p Благодаря универсальности гранит широко применяется в строительстве, ремонте, отделке помещений, декорировании домашнего и офисного интерьеров. Материал часто используют для изготовления столешниц, брусчатки, подоконников, облицовочных плит и других изделий из камня от поверхности которых требуется особая прочность. Высокая плотность и прочность, красивые разнообразные расцветки и возможность придавать этому материалу разную фактуру, делают его таким популярным. Интерьер, оформленный изделиями из гранита, становится более изысканным и солидным. Наиболее восстребованными являются - красный гранит, черный и серый.
        hr
        h2 Купить качественный гранит у производителя
        p(style="margin-bottom: 0;") Наши специалисты помогут правильно подобрать цвет, рассчитают стоимость заявки, доставят готовые обработанные изделия и сразу установят. Компания осуществляет практически полный цикл работы – клиенту остается лишь сделать заявку и в короткие сроки принять готовое изделие. Плитка, элементы входной группы, брусчатка, бордюр, подоконники, столешницы и другие изделия из гранита можно заказать у нас. Для этого позвоните по тел. 8-800-555-47-57, либо заполните форму для обратной связи и мы свяжемся с вами.



block script




































