extends main

include ../components/item/item
include ../components/products/products

block head
    - var headData = {title: "Главная"}
    - var breadcrumb = true
    - var index = 'header_index'

block content
    .container
        .index-block-title.text-center
            h1.index-block-title__title Акции
            p.index-block-title__desc Самые выгодные предложения и акции на гранит, мрамор и изделия из природного камня


    .stock.arrow-center
        -for(var i=0;i<2;i++)
            .stock__item(style="background-image: url('%=static=%img/content/stock/2.jpg');")
                .stock__item-content.stock__item-padding
                    .stock__item-table
                        .stock__item-table-cell
                            span.stock__item-title Жгучее
                                br
                                | предложение
                        .stock__item-table-cell
                            i.s-heat
                    br
                    .stock__item-text гранитные плиты
                        br
                        |с термообработанной поверхностью
                    .stock__item-price от 1392 р/м2
                .stock__item-bottom.stock__item-padding
                    button.btn.btn-white.btn-border Узнать подробности
            .stock__item(style="background-image: url('%=static=%img/content/stock/1.jpg');")
                .stock__item-content.stock__item-padding
                    .stock__item-title Новое поступление слэбов из Индии
                .stock__item-bottom.stock__item-padding
                    button.btn.btn-white.btn-border Узнать подробности
            .stock__item(style="background-image: url('%=static=%img/content/stock/3.jpg');")
                .stock__item-content.stock__item-padding
                    .stock__item-table
                        .stock__item-table-cell
                            span.stock__item-title Бесплатные
                                br
                                |замеры
                        .stock__item-table-cell
                            +icon('roulette')
                    br
                    .stock__item-text В черте города

                .stock__item-bottom.stock__item-padding
                    button.btn.btn-white.btn-border Узнать подробности
    br
    br
    .text-center
        button.btn.btn-orange Смотреть все акции
    br
    hr.two
    .container
        .index-block-title.text-center
            h1.index-block-title__title Каталог камня
            p.index-block-title__desc В наличии большой выбор натурального камня в слэбах и плитах любого размера.
        hr
        .hidden-md-up
            button.btn.btn-orange.btn-width(data-block="#sdfdsfsdf").toggle-btn Фильтр каталога
        #sdfdsfsdf.toggle-block
            br.hidden-md-up
            .filter__table
                .filter__table-cell.hidden-md-down
                    .filter__sections
                        .filter__sections-section
                            span.filter__sections-title Выберите вид камня:
                        .filter__sections-section
                            ul.tabs__nav.not-styleLink
                                li.active: a(href="#", data-block="#items11"): span: b Гранит
                                li: a(href="#", data-block="#items22"): span: b Мрамор
                .filter__table-cell.filter__table-cell__select.hidden-lg-up
                    .filter__sections
                        .filter__sections-section
                            span.filter__sections-title Вид камня:
                        .filter__sections-section
                            select
                                option Гранит
                                option item 1
                                option item 2
                                option item 3
                .filter__table-cell.filter__table-cell__select
                    .filter__sections
                        .filter__sections-section
                            span.filter__sections-title Цвет:
                        .filter__sections-section
                            select
                                option Бежевый
                                option item 1
                                option item 2
                                option item 3
                .filter__table-cell.filter__table-cell__select
                    .filter__sections
                        .filter__sections-section
                            span.filter__sections-title Страна:
                        .filter__sections-section
                            select
                                option Не выбрана
                                option Все страны
                                option Российский
                                option Бразильский
                                option Индийский
                                option Казахстанские
                                option Китайские
                                option Норвежские
                                option Украинские
                .filter__table-cell.filter__table-cell__select.hidden-md-down
                    .hidden-xs-down
                        .hidden-lg-up
                            span.filter__sections-title &nbsp;

                    .form-search.form-search_hidden
                        button.form-search__btn: +icon('search')
                        .form-search__inputs
                            input(placeholder="Поиск по каталогу").form-search__inputs-input

        br
        br
        .tabs__content
            .tabs__content-item.active#items11
                .itemList
                    -for(var i = 0; i<36;i++)
                        .itemList__section
                            +item(i)
            .tabs__content-item#items22
                .itemList
                    -for(var i = 0; i<36;i++)
                        .itemList__section
                            +item(i)

        .hidden-md-up
            .text-center
                p(style="color: #616161;margin-bottom: 8px;margin-top: 18px;") и еще более 40 наименований гранита
                button.btn.btn-orange.btn-width Смотреть весь гранит

        hr

        .index-block-title.index-block-title_big.text-center
            h1.index-block-title__title Изделия из натурального гранита и мрамора
            p.index-block-title__desc Собственная производственная база, опытный персонал (более 60 человек) и многолетний стаж работы позволяют нам изготавливать изделия любой сложности с ювелирной точностью


    .index-products-slider.arrow-center.hidden-lg-up.not-styleLink
        -for(var i = 0; i<5;i++)
            .index-products-slider__section
                +products(i, true, true)

    .index-products.hidden-md-down.not-styleLink
        -for(var i = 0; i<11;i++)
            .index-products__section
                +products(i, true)

        .index-products__section
            .products__item-img.products__item-img_notBg
                p Не нашли нужный вид изделия?
                    br
                    | Отправьте заявку и наши
                    br
                    | менеджеры проконсультируют вас

                button.btn.btn-orange Отправить заявку

    .container.hidden-md-up
        br
        .text-center
            p.text-mobile Не нашли нужный вид изделия? Отправьте заявку и наши менеджеры проконсультируют вас
            button.btn.btn-orange Отправить заявку
        hr

    .hidden-md-down
        .index-block-title.index-block-title_big.text-center
            h1.index-block-title__title Объекты из нашего камня
            p.index-block-title__desc Наша компания как поставщик камня поучаствовала в возведении многих значимых объектах по всей России и СНГ.

        .text-center
            .filter__sections
                .filter__sections-section
                    span.filter__sections-title Выберите город:
                .filter__sections-section(style="width: 250px;")
                    select
                        option Челябинск
                        option item 1
                        option item 2
                        option item 3

        br
        br
        div(style="overflow: hidden;")
            .container.not-styleLink
                .objects
                    -for(var i =0; i<3; i++)
                        .objects__section
                            .objects__left
                                a.db.objects__item.objects__item_big(href="#", style="background-image: url('%=static=%img/content/objects/1.jpg');")
                                    span.db.objects__item-content.objects__item-content_noHover
                                        p.objects__item-content-title.ttu ТРК “УРАЛ”  /  ЧЕЛЯБИНСК

                                    span.db.objects__item-content.objects__item-content_hover
                                        span.db.row
                                            span.db.col-lg-9
                                                span.db.objects__item-content-title.ttu ТРК “УРАЛ”  /  ЧЕЛЯБИНСК
                                            span.db.col-lg-3.text-right
                                                span.db.objects__item-content-title 6 фото

                                        span.db.objects__item-content-text Торговый комплекс "Урал"
                                            br
                                            | На данном объекте выполнялась облицовка цоколя гранитной плиткой Цезарь (Padang Dark).
                                        button.btn.btn-orange Смотреть проект

                            .objects__right
                                a.db.objects__item(href="#", style="background-image: url('%=static=%img/content/objects/2.jpg');")
                                    span.db.objects__item-content.objects__item-content_noHover
                                        span.db.objects__item-content-title.ttu Мебельный центр  /  ЧЕЛЯБИНСК

                                    span.db.objects__item-content.objects__item-content_hover
                                        span.db.objects__item-content-title.ttu Мебельный центр  /  ЧЕЛЯБИНСК

                                        span.db.objects__item-content-text Торговый комплекс "Урал"
                                            br
                                            | На данном объекте выполнялась облицовка цоколя гранитной плиткой Цезарь (Padang Dark).
                                        button.btn.btn-orange Смотреть проект
                                a.db.objects__item(href="#", style="background-image: url('%=static=%img/content/objects/3.jpg');")
                                    span.db.objects__item-content.objects__item-content_noHover
                                        span.db.objects__item-content-title.ttu “МЕТРАН”  /  ЧЕЛЯБИНСК

                                    span.db.objects__item-content.objects__item-content_hover
                                        span.db.objects__item-content-title.ttu “МЕТРАН”  /  ЧЕЛЯБИНСК

                                        button.btn.btn-orange Смотреть проект





    .index-block-title.index-block-title_big.text-center
        h1.index-block-title__title О компании «Дом Камня»

    .container.text-center.hidden-md-up
        p.text-mobile Компания «Дом Камня» представлена на российском рынке с 1997 года. С того времени наша организация прошла серьёзный путь развития и зарекомендовала себя в качестве одного из лидеров по производству и продажам изделий из натурального камня.
        p.text-mobile Сейчас «Дом Камня» - это команда профессионалов, которая находит решения как для малых индивидуальных заказов, так и для крупных компаний с их масштабами. Собственная производственная база позволяет выпускать продукцию высокого качества и в больших объемах.
        button.btn.btn-orange.btn-width Узнать подробнее о компании
        br

    .container.hidden-sm-down
        hr
        .table-number.hidden-sm-down
            .table-number__num 20&nbsp;
                span лет
            .table-number__desc профессиональной
                br
                |работы
        br

        ul.tabs__nav.tabs__nav_sm.not-styleLink
            li.active: a(href="#", data-block="#itemsq11"): span: b О компании
            li: a(href="#", data-block="#itemsq22"): span: b Наше производство
            li: a(href="#", data-block="#itemsq223"): span: b Отзывы

        br
        br
        .tabs__content
            .tabs__content-item.active#itemsq11
                p Компания «Дом Камня» представлена на российском рынке с 1997 года. С того времени наша организация прошла серьёзный путь развития и зарекомендовала себя в качестве одного из лидеров по производству и продажам изделий из натурального камня. Сейчас «Дом Камня» - это команда профессионалов, которая находит решения как для малых индивидуальных заказов, так и для крупных компаний с их масштабами. Собственная производственная база позволяет выпускать продукцию высокого качества и в больших объемах.
                br

                p.h2 Смотрите видео нашего производства:
                .video-list.not-styleLink
                    .video-list__preview
                        a(href="#", data-video="https://www.youtube.com/embed/MlwxGITcioM?rel=0", data-text="Процесс производства").video-list__preview-item.active: +img('content/video-list/1')
                        a(href="#", data-video="https://www.youtube.com/embed/Xjg4W83fuI8?rel=0", data-text="Процесс производства1").video-list__preview-item: +img('content/video-list/2')
                        a(href="#", data-video="https://www.youtube.com/embed/BDbkf239NtY?rel=0", data-text="Процесс производства2").video-list__preview-item: +img('content/video-list/3')
                        a(href="#", data-video="https://www.youtube.com/embed/g4zEV6NxiRM?rel=0", data-text="Процесс производства3").video-list__preview-item: +img('content/video-list/4')
                    .video-list__video
                        .video-list__video-el
                            iframe(src="https://www.youtube.com/embed/MlwxGITcioM" frameborder="0" allowfullscreen)
                            .video-list__video-content
                                span Процесс производства

                br
                .text-center
                    button.btn.btn-orange Узнать подробнее о компании
                br

            .tabs__content-item#itemsq22
                p Наше производство
            .tabs__content-item#itemsq223
                p Отзывы




block script





































