extends main

include ../components/item/item
include ../components/products/products

block head
    - var headData = {title: "Каталог"}

block content
    .container
        h1 Изделия из гранита и мрамора
        p Собственная производственная база, опытный персонал (более 60 человек) и многолетний стаж работы позволяют нам изготавливать изделия любой сложности с ювелирной точностью

        hr
        .products__sections.not-styleLink
            -for(var i = 0; i<11;i++)
                .products__sections-section
                    +products(i)

        hr
        h2 Купить качественный гранит у производителя
        p Наши специалисты помогут правильно подобрать цвет, рассчитают стоимость заявки, доставят готовые обработанные изделия и сразу установят. Компания осуществляет практически полный цикл работы – клиенту остается лишь сделать заявку и в короткие сроки принять готовое изделие. Плитка, элементы входной группы, брусчатка, бордюр, подоконники, столешницы и другие изделия из гранита можно заказать у нас. Для этого позвоните по тел. 8-800-555-47-57, либо заполните форму для обратной связи и мы свяжемся с вами.

    //hr.two


block script




































