.item-table{
  font-size: 14px;
  line-height: 28px;
  font-weight: 100;
  .btn{
    backface-visibility: hidden;
  }

  &__title{
    color: #565656;
    font-weight: 700;
    border-bottom: 1px solid transparent;
    &:hover{
      color: #00a8ec;
      border-bottom-color: #00a8ec;
    }
  }
  &__nowrap{
    white-space: nowrap;
  }
}
