// GUI stylies of the project
// For example, styles of the links, buttons and so on.

@import "libraries/bootstrap/scaffolding";
@import "libraries/bootstrap/buttons";
@import "libraries/bootstrap/type";
@import "libraries/bootstrap/breadcrumbs";
@import "libraries/bootstrap/tables";
@import "libraries/bootstrap/forms";
@import "libraries/bootstrap/navs";
@import "libraries/bootstrap/dropdowns";

a{
  //color: #e74700;
  //text-decoration: underline;
  color: #ef9c00;
  cursor: pointer;
  text-decoration: none;
  &:focus {
    text-decoration: none;
  }
  &:hover{
    text-decoration: none;
  }
  &:not(.not-styleLink){
    @include link-border-color(#ef9c00);
  }
  .not-styleLink{
    text-decoration: underline;
  }
}

.btn_footer{
  width: 210px;
  max-width: 100%;
}

.not-styleLink{
  a{
    border-bottom: none;
  }
}

.text-formMin{
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
}

a.link-blue{
  color: #0669b2;
  @include link-border-color(#0669b2);
}

.rub{
  letter-spacing: -12px;
  display: inline-block;
  //vertical-align: middle;
  margin-right: 12px;
  &:after{
    content: '–';
    display: inline-block;
    position: relative;
    bottom: -2px;
  }
}

h1, .h1{
  color: #1a1b1b;
  font-size: 60px;
  font-weight: 400;
  line-height: 75px;
  &:first-child{
    margin-top: 0;
  }
}
h2, .h2{
  color: #1a1b1b;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
  margin-top: 25px;
  &:first-child{
    margin-top: 0;
  }
}
h3, .h3{
  color: #70747b;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 25px;
  margin-top: 25px;
  &:first-child{
    margin-top: 0;
  }
}

p {
  margin-bottom: 20px;
}

hr{
  border-color: #f2f1f0;
  margin: 45px 0;
  &.two{
    border-top-width: 2px;
    border-color: #e6e4e3;
    //margin: 25px 0;
  }
}

ol, ul{
  list-style: none;
  padding: 0;
  li{
    position: relative;
    padding-left: 32px;
    &:after{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background-color: #ef9c00;
      position: absolute;
      left: 0;
      top: 7px;
      line-height: 20px;
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
    }
  }
}
ol{
  li {
    counter-increment: li;
    padding-left: 37px;
    &:after {
      content: counter(li);
      width: 16px;
      height: 16px;
      top: 3px;
    }
  }
}

//ul{
//  //@include nl;
//  list-style-image: url("%=static=%general/list-style-image.png");
//  padding: 0;
//  list-style-position: outside;
//  padding-left: 81px;
//  margin: 15px 0;
//  li{
//    padding: 5px 0;
//  }
//}

b{
  font-weight: 700;
  color: #292a3c;
}

.tableWrap{
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
  table{
    margin-bottom: 0;
  }
}


table{
  font-size: 14px;
  &:not(.not_style_default){
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
  }

  tbody > tr{
    color: #4b4b4b;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    &:hover, &.active{
      td{
        background-color: #f0f1f2;
        //color: #070707;
      }
    }
  }

  &.table-two{
    thead > tr > th{
      background-color: transparent;
      color: #4b4b4b;
      font-size: 16px;
      font-weight: 400;
      line-height: 40px;
      border-bottom: 1px solid #f0f1f2;
      padding: 3px 27px;
    }
    tbody > tr{
      td{
        color: #7f7f7f;
        border-bottom: none;
      }
      &:hover, &.hover{
        td{
          background-color: transparent;
          //color: #070707;
        }
      }
    }
  }
}

.db{
  display: block;
}


.table-link-title{
  margin-bottom: 10px;
}
.dropdown-menu{
  li{
    padding: 0;
  }
}

.pagination{
  @include nl;
  font-size: 0;
  margin: 20px -5px;
  margin-bottom: -5px;

  li{
    display: inline-block;
    font-weight: 400;
    padding: 5px;
    &:not(.active){
      >*{
        &:hover{
          //outline: 2px solid #fd6910;
          //outline-offset: -2px;
          //color: #fd6910;
          border-color: #0b6ab3;
        }
      }
    }
    &.active{
      >*{
        background-color: #fc0;
        color: black;
        span{
          border-bottom-color: transparent;
        }
      }
    }
    &.next{
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
      >*{
        //border: 1px solid #bebebe;
        padding: 0 15px;
      }
      i{
        margin-left: 40px;
        margin-top: -2px;
      }
    }
    >*{
      width: 35px;
      height: 35px;
      display: block;
      text-align: center;
      line-height: 38px;
      font-weight: 400;
      text-decoration: none;
      color: #575757;
      border: none;
      font-size: 18px;
      span{
        @include link-border-color(#575757);
      }
      small{
        font-size: 12px;
      }
    }
  }
}

.bootstrap-select.btn-group{
  position: relative;
  .dropdown-toggle{
    color: currentColor;
    background-color: white;
    border: 2px solid #c1c1c1;
    border-radius: 20px;
    height: 40px;
    line-height: 45px;
    padding: 0 15px;
    font-size: 16px;
    padding-right: 40px;
    .filter-option{
      display: inline-block;
      line-height: normal;
      font-style: normal;
      color: inherit;
      font-size: 15px;
      font-weight: 400;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .bs-caret{
    background-color: transparent;
    line-height: 21px;
    right: 11px;
    .caret{
      border-top-color: #1a1b1b;
      border-top-width: 8px;
      border-left-width: 4px;
      border-right-width: 4px;
      margin-left: -1px;
    }
  }
  &:not(.select-inner){
    &.open{
      &:not(.dropup){
        .dropdown-toggle{
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      &.dropup{
        .dropdown-toggle{
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }
    &:not(.dropup){
      .dropdown-menu {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
        margin-top: -4px;
        box-shadow: none;
        width: 100%;
      }
    }
    &.dropup{
      .dropdown-menu {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
        margin-bottom: -4px;
        box-shadow: none;
        width: 100%;
      }
    }
  }
  &.select-inner{
    width: auto !important;
    .dropdown-toggle{
      width: auto !important;
      display: inline-block;
      height: 25px;
      background-color: transparent;
      border: none;
      padding: 0;
      padding-right: 25px;
      .filter-option{
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        color: currentColor;
        max-width: 160px;
        display: block;
        margin-top: 2px;
        padding-left: 4px;
      }
      .bs-caret {
        background-color: transparent;
        line-height: normal;
        right: 0;
        margin: 0;
        top: 50%;
        margin-top: -9px;
        height: 7px;
        .caret {
          border-top-color: currentColor;
          border-top-width: 7px;
        }
      }
    }
  }
  &.select-width{

  }
}

.slick-dots{
  @include nl;
  font-size: 0;
  line-height: 0;
  text-align: center;
  margin-top: 20px;
  //margin: 10px 0;
  li{
    display: inline-block;
    padding: 6.5px;
    &.slick-active{
      button{
        &:after{
          background-color: $mainColor;
          border-color: $mainColor;
        }
        &:before{
          opacity: 1;
        }
      }
    }
    button{
      @include btn-clear;
      position: relative;
      &:hover{
        &:after{
          //background-color: rgb(202, 202, 202);
        }
      }
      &:after{
        content: '';
        display: block;
        width: 17px;
        height: 17px;
        background-color: transparent;
        border: 2px solid white;
        border-radius: 50%;
      }
    }
  }
}

.mobile-list-anim{
  display: inline-block;
  //float: left;
  width: 100%;
  position: relative;
  .menuTopMobel{
    color: currentColor;
    display: block;
    text-align: left;
    border-bottom: none;
    border-top: none;
    outline: none;
    margin-bottom: 0;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    .menu-icon{
      fill: currentColor;
      display: inline-block;
      vertical-align: middle;
      pointer-events: none;
      svg{
        display: block;
      }
    }
    .menu-mobile{
      pointer-events: none;
      background: transparent;
      display: inline-block;
      vertical-align: middle;
      width: 24px;
      height: 22px;
      color: currentColor;
      text-align: center;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      transition: transform ease-out 200ms;
      &-hamburger{
        width: 24px;
        height: 4px;
        background: currentColor;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12px;
        margin-top: -2px;
        transition: transform 200ms;
        &.one{
          -webkit-transform: translate3d(0, -9px, 0);
          transform: translate3d(0, -9px, 0);
        }
        &.two{
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
        &.three{
          -webkit-transform: translate3d(0, 9px, 0);
          transform: translate3d(0, 9px, 0);
        }
      }
    }
    .menu-text{
      //margin-top: -4px;
      //margin-right: 20px;
      margin-top: 4px;
      margin-left: 28px;
      display: inline-block;
      vertical-align: middle;
      pointer-events: none;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
    }
  }
  input[type="checkbox"]{
    display: none;
    &:checked {
      & ~ .menuTopMobel {
        .menu-mobile {
          &-hamburger {
            &.one {
              -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
              transform: translate3d(0, 0, 0) rotate(45deg);
            }
            &.two {
              -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
              transform: translate3d(0, 0, 0) scale(0.1, 1);
            }
            &.three {
              -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
              transform: translate3d(0, 0, 0) rotate(-45deg);
            }
          }
        }
      }
    }
  }
}

.filter{
  &__title{
    color: #1a1b1b;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    margin: 0;
    padding: 7px 0;
    padding-right: 35px;
    border-right: 1px solid $mainColor;
    display: inline-block;
  }
  &__sections{
    >*{
      display: inline-block;
      vertical-align: middle;
      +*{
        padding-left: 15px;
      }
    }
    &-title{
      color: #8d8d8d;
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
      &_big{
        color: #1a1b1b;
        font-size: 30px;
        font-weight: 400;
        line-height: normal;
      }
    }
    &-section{

    }
  }
  &__table{
    display: table;
    width: 100%;
    font-size: 0;
    &-cell{
      font-size: 14px;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.tabs{
  &__nav{
    @include nl;
    font-size: 0;
    display: inline-block;
    margin: 0 -3px;
    li{
      display: inline-block;
      padding: 0 3px;
      &.active{
        a{
          background-color: $mainColor;
          cursor: default;
          span{
            border-bottom-color: transparent;
          }
          &:hover{
            span{
              border-bottom-color: transparent;
            }
          }
        }
      }
      a{
        display: block;
        color: #212121;
        font-size: 18px;
        line-height: normal;
        padding: 10px 32px;
        border-radius: 20px;
        padding-top: 12px;
        @include tr;
        span{
          border-bottom: 1px dashed rgba(75, 75, 75, 0.3);
        }
        &:hover{
          span{
            border-bottom-color: rgba(33, 33, 33, 0.71);
          }
        }
      }
    }
    &_sm{
      li {
        a {
          padding: 21px 47px;
          border-radius: 30px;
        }
      }
    }
  }
  &__content{
    &-item{
      &:not(.active){
        display: none;
      }
    }
  }
}

.form-search{
  position: relative;
  display: inline-block;

  &__btn{
    @include btn-clear;
    width: 32px;
    height: 32px;
    background-color: $mainColor;
    border-radius: 25px;
    fill: #1a1b1b;
    text-align: center;
    line-height: 39px;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 1;
    @include tr;
    &:hover{
      background-color: lighten($mainColor, 10%);
    }
  }
  &__inputs{
    &-input{
      outline: none;
      width: 250px;
      background-color: white;
      border: 1px solid #ffb33b;
      border-radius: 20px;
      line-height: 17px;
      padding: 10.5px 16px;
      padding-right: 40px;
      color: #626262;
      font-weight: 300;
      font-size: 16px;
      @include tr;
      &:not(:focus){
        &.form-search__inputs-input_borderNot{
          border-color:  transparent;
          background-color: transparent;
        }
      }
    }
  }
}

.slick-arrow{
  @include btn-clear;
  width: 43px;
  height: 43px;
  line-height: 55px;
  background-color: #c1c1c1;
  fill: #fff;
  border-radius: 50%;
  @include tr;
  svg{
    display: block;
  }
  &:hover{
    background-color: #ffb33b;
    fill: #000;
  }
  &.slick-prev{
    padding: 0 14px;
  }
  &.slick-next{
    padding: 0 17px;
  }
}

.arrow-two{
  .slick-arrow{
    background-color: transparent;
    fill: #949494;
    &:hover{
      background-color: transparent;
      fill: $mainColor;
    }
  }
}
.arrow-beyond{
  .slick-arrow{
    position: absolute;
    top: 50%;
    margin-top: -21.5px;
    z-index: 1;
    &.slick-prev{
      right: 100%;
      margin-right: 30px;
    }
    &.slick-next{
      left: 100%;
      margin-left: 30px;
    }
  }
}
.arrow-center{
  .slick-arrow{
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 1;
    &.slick-prev{
      left: 0;
    }
    &.slick-next{
      right: 0;
    }
  }
}

.color-view{
  display: inline-block;
  color: #1a1b1b;
  font-size: 14px;
  font-weight: 100;
  line-height: 26px;
  >*{
    +*{
      margin-left: 9px;
    }
  }
  &__el{
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-color: #3e3e3e;
  }
  &__title{
    border-bottom: 1px solid rgba(26, 27, 27, 0.3);
  }
  &:hover{
    .color-view__title{
      border-bottom-color: rgba(26, 27, 27, 0.6);
    }
  }
}

.list-features{
  display: table;
  color: #1a1b1b;
  font-size: 14px;
  font-weight: 100;
  line-height: 25px;
  >*{
    display: table-row;
    >*{
      display: table-cell;
      vertical-align: middle;
      padding: 12px 9px;
    }
    &:nth-of-type(2n-1){
      background-color: #f6f6f6;
      >*{
        padding-top: 3px;
        padding-bottom: 3px;
      }
    }
  }
}

.statistics{
  .slick-arrow{
    background-color: transparent;
    fill: #fff;
    height: 50px;
    &:hover{
      background-color: transparent;
      fill: $mainColor;
    }
  }
  &__section{
    padding: 0 20px;
    outline: none;
  }
  &__item{
    &-num{
      color: #ffb33b;
      font-size: 50px;
      font-weight: 900;
      line-height: 50px;
    }
    &-desc{
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
    }
  }
}
.text-mobile{
  color: #1a1b1b;
  font-size: 16px;
  font-weight: 100;
  line-height: 30px;
  margin-bottom: 30px;
}
