mixin item(num)
    - if(!_fn) _fn = 'col'

    - var discount = false

    - if(num%2==0) discount = true


    a(href='#').item.not-styleLink.text-center
        span.db.item__img
            span.db.item__img-default
                span.db.item__img-bg
                +img('assets/item/1')
        span.db.item__title Айвори Браун
        span.db.item__titleSub (Ivory Brown)

