mixin item(num)
    - num = num || 0;
    - var rowItem = {}
    - if(item.data[num])
        - rowItem = item.data[num]
    - else
        - rowItem = item.data[0]

    a(href='#').item.not-styleLink.text-center
        span.db.item__img
            span.db.item__img-default
                span.db.item__img-bg
                +img(rowItem.img)
        span.item__title= rowItem.title
        br
        span.item__titleSub= rowItem.titleSub