.item{
  display: block;
  font-weight: 300;
  line-height: 26px;
  color: #212121;
  font-size: 16px;
  &__img{
    margin-bottom: 20px;
    position: relative;
    img{
      width: 100%;
    }
    &-default{
      position: relative;
      &:after{
        content: '';
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        box-shadow: inset -7.8px -7.8px 2px rgba(0, 0, 0, 0.26);
        z-index: 2;
      }
    }
    &-bg{
      &:before{
        background-image: url('%=static=%content/bg-two_img-block.png');
      }
      &:after{
        background-image: url('%=static=%content/bg_img-block.png');
      }
      &:after, &:before{
        content: '';
        display: block;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        background-repeat: no-repeat;
        background-position: top right;
        opacity: .7;
      }
    }
    &-mirror{
      position: absolute;
      top: 0;
      //left: 0;
      //-webkit-box-reflect: above;
      //-webkit-box-reflect: below;
      //-webkit-box-reflect: left;
      //-webkit-box-reflect: right;
      background-image: -webkit-gradient(linear, center top, center bottom, from(white), to(black));
      //-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(white));
      -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(white));
      img{
        //opacity: .5;
      }
    }
  }
  &__title{
    border-bottom: 1px solid transparent;
  }
  &__titleSub{
    border-bottom: 1px solid transparent;
    color: #616161;
    font-size: 15px;
  }
  &:hover{
    .item__title, .item__titleSub{
      border-bottom-color: rgba(0, 0, 0, 0.22);
    }
  }
}

.itemList{
  font-size: 0;
  margin: -15px;
  &__section{
    font-size: 14px;
    display: inline-block;
    padding: 15px;
    transition: .3s;
    width: 16.66%;
    border: 1px solid transparent;
    &:hover{
      //box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.08);
      //-webkit-transform: translateY(-4px);
      //transform: translateY(-4px);
      //border-color: #eee;
    }
  }
}