.header-block{
  .header__fix{

  }
  &.fix{
    .header__fix{
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      padding: 20px 45px;
      background-color: #fff;
      background-size: cover;
      background-position: center;
      background-image: url('%=static=%assets/header/bg_inner.jpg');
    }
    .header__logo{
      img {
        height: 60px;
      }
    }
  }
}

.header{
  background-size: cover;
  background-position: center;
  background-image: url('%=static=%assets/header/bg_inner.jpg');
  position: relative;
  color: #fff;
  z-index: 8;

  &_index{
    background-image: url('%=static=%assets/header/bg_index.jpg');
    .header-mobile__content{
      background-image: none;
    }
  }
  &-mobile{
    .mobile-list-anim {
      input[type="checkbox"] {
        &:checked {
          & ~ .menuTopMobel {
            svg{
              fill: $mainColor !important;
            }
            .menu-text {

            }
          }
        }
      }
      svg{
        pointer-events: none;
        @include tr;
      }
    }
    &__content{
      display: table;
      width: 100%;
      border-bottom: 1px solid;
      position: relative;
      background-size: cover;
      background-position: center;
      background-image: url('%=static=%assets/header/bg_inner.jpg');
      z-index: 3;
      &-cell{
        display: table-cell;
        vertical-align: middle;
        +*{
          &:not(:last-child){
            padding-left: 20px;
          }
          border-left: 1px solid;
        }
        &_icon{
          width: 55px;
        }
      }
      .mobile-list-anim{
        .menuTopMobel{
          width: 55px;
          height: 55px;
          text-align: center;
          line-height: 55px;
        }
      }
    }
    &__phone{
      color: #fff;
      font-weight: 600;
      display: block;
      padding-right: 20px;
    }
    &__navigation{
      position: absolute;
      height: 100vh;
      width: 100%;
      left: 0;
      top: 0;
      overflow: auto;
      padding-top: 55px;
      display: none;
      z-index: 2;
      .form-search{
        display: block;
        width: 100%;
        &__inputs{
          input{
            width: 100%;
          }
        }
      }
      &-content{
        background-color: #ffb33b;
        padding: 20px 15px;
      }
      &-list{
        ul{
          @include nl;
          line-height: 18px;
          li{
            display: block;
            &.active{
              >a{
                em{
                  transform: rotate(180deg);
                }
              }
            }
            a{
              display: block;
              color: #fff;
            }
          }
        }
        >ul{
          >li{
            +*{
              border-top: 1px solid rgba(255, 255, 255, 0.2);
            }
            >a{
              padding: 16px 0;
              padding-right: 15px;
              position: relative;
              em{
                position: absolute;
                right: 10px;
                @include triangle('down', currentColor, 6px, 6px);
                top: 50%;
                margin-top: -3px;
                @include tr;
              }
            }
            ul{
              padding: 9px 20px;
              display: none;
              background-color: #fff;
              border-left: 1px solid rgba(255, 255, 255, 0.2);
              li{
                a{
                  color: #000;
                  font-size: 15px;
                  padding: 6px 0;
                }
              }
            }
          }
        }
      }
    }
  }
  &-desktop{
    .mobile-list-anim {
      input[type="checkbox"] {
        &:checked {
          & ~ .menuTopMobel {
            z-index: 10;
            color: #4e4e4e;

          }
        }
      }
      &_menu{
        input[type="checkbox"] {
          &:checked {
            & ~ .menuTopMobel {
              .menu-text{
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }
  &__table{
    display: table;
    width: 100%;
    &-cell{
      display: table-cell;
      vertical-align: middle;
      width: 40%;
      &_logo{
        width: 20%;
      }
    }
  }
  &__logo{
    display: block;
    text-align: center;
  }
  &__phone{
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    line-height: 17px;
    &:hover{
      .header__phone-title{
        border-bottom-color: rgba(255, 255, 255, 0.7);
      }
    }
    &-title{
      font-weight: 300;
      @include link-border-color(#fff);
      +*{
        margin-top: 12px;
      }
    }
    &-number{
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__sections{
    display: inline-block;
  }
  &__sections{
    font-size: 0;
    margin: 0 -25px;
    &-section{
      display: inline-block;
      vertical-align: bottom;
      padding: 0 25px;
      font-size: 16px;
    }
  }
  &-navigation{
    position: absolute;
    right: 0;
    //overflow: hidden;
    color: #000;
    background-size: cover;
    background-position: center;
    background-image: url('%=static=%assets/header/navigation_bg.jpg');
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
    padding-top: 70px;
    padding-bottom: 60px;
    margin-top: -50%;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    @include tr;
    &.active{
      margin-top: 0;
      opacity: 1;
      visibility: visible;
    }
    &__clear{
      position: absolute;
      right: 0;
      top: 0;
      @include btn-clear;
      padding: 30px 60px;
      padding-top: 82px;
      svg{
        display: block;
      }
      &:hover{
        fill: $mainColor;
      }
    }
    &__menu-list{
      @include nl;
      font-size: 0;
      li{
        display: inline-block;
        font-size: 40px;
        font-weight: 400;
        line-height: normal;
        +li{
          &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            background-color: #8e8e8e;
            margin: 0 14px;
            margin-top: -4px;
          }
        }
        a{
          color: #1a1b1b;
          padding: 20px 14px;
          display: inline-block;
          vertical-align: middle;
          span{
            border-bottom: 1px solid transparent;
          }
          &:hover{
            span{
              border-bottom: 1px solid rgba(26, 27, 27, 0.3);
            }
          }
        }
      }
    }
    &__category{
      &-list{
        font-size: 0;
        margin: -5px -15px;
        ul{
          @include nl;
          display: inline-block;
          vertical-align: top;
          width: 33.33%;
          font-size: 16px;
          font-weight: 100;
          line-height: 20px;
          li{
            display: block;
            padding: 5px 0;
            a{
              display: inline-block;
              color: #4e4e4e;
              padding: 8px 15px;
              padding-top: 10px;
              border-radius: 20px;
              @include tr;
              &:hover{
                background-color: $mainColor;
                color: #000;
              }
            }
          }
        }
      }
    }
  }
  &-bottom{
    color: white;
    padding-top: 120px;
    .container{
      max-width: 100%;
    }
    &__title{
      position: relative;
      display: table;
      font-size: 70px;
      font-weight: 900;
      line-height: 75px;
      margin: 0 auto;
      margin-bottom: 20px;
      &-stiker{
        position: absolute;
        top: -66px;
        right: 0;
        display: block;
        pointer-events: none;
      }
    }
    &__titleSub{
      font-size: 26px;
      font-weight: 400;
      line-height: 36px;
      margin: 0;
      margin-bottom: 50px;
    }
    &__phone{
      color: white;
      font-size: 20px;
      font-weight: 700;
      line-height: normal;
      display: block;
      margin-bottom: 17px;
      i{
        margin-right: 11px;
      }
    }
  }
}

.header_lp{
  background-image: url('%=static=%assets/header/bg_lp.jpg');
  .header__table{
  }
  .header__sections-section{
    vertical-align: middle;
  }
  .header__phone{
    display: block;
  }
  .header-bottom__title{
    font-size: 65px;
  }
  .header-bottom {
    padding-top: 83px;
  }
  .header-mobile__content{
    background-image: none;
  }
}

.header-border{
  height: 1px;
  background-color: #f2f1f0;
  margin: 0 -50px;

}
.header__nav{
  @include nl;
  font-size: 0;
  margin: 0 -25px;
  li{
    display: inline-block;
    a{
      color: white;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
      padding: 8px 25px;
      display: block;
      span{
        border-bottom: 1px solid transparent;
      }
      &:hover{
        span{
          border-bottom-color: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
}

.header{
  &__advantages{
    .slick-list{
      padding-bottom: 20px;
    }
    &-section{
      position: relative;
      outline: none;
      +*{
        &:before{
          content: '';
          position: absolute;
          left: -1px;
          top: 37px;
          display: block;
          width: 1px;
          height: 90px;
          background-color: white;
        }
      }
    }
    &-item{
      &-icon{
        fill: $mainColor;
      }
      &-title{
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
      }
    }
  }
}

.header__form{
  &-title{
    color: white;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 35px;
  }
  &-sections{
    font-size: 0;
    margin: -2px -10px;
    &-section{
      display: inline-block;
      font-size: 14px;
      padding: 2px 10px;
      &_input{
        width: 38%;
      }
      &_btn{
        width: 22%;
      }
    }
  }
}


