.header{
  background-size: cover;
  background-position: center;
  background-image: url('%=static=%assets/header/bg_inner.jpg');
  padding: 0 50px;
  padding-bottom: 53px;
  padding-top: 47px;
  position: relative;
  color: #fff;

  &-desktop{
    .mobile-list-anim {
      input[type="checkbox"] {
        &:checked {
          & ~ .menuTopMobel {
            z-index: 10;
            color: #4e4e4e;
          }
        }
      }
      &_menu{
        input[type="checkbox"] {
          &:checked {
            & ~ .menuTopMobel {
              .menu-text{
                visibility: hidden;
              }
            }
          }
        }
      }
    }
  }

  &__table{
    display: table;
    width: 100%;
    &-cell{
      display: table-cell;
      vertical-align: middle;
      width: 40%;
      &_logo{
        width: 20%;
      }
    }
  }
  &__logo{
    display: block;
    text-align: center;
  }
  &__phone{
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    line-height: 17px;
    &:hover{
      .header__phone-title{
        border-bottom-color: rgba(255, 255, 255, 0.7);
      }
    }
    &-title{
      font-weight: 300;
      @include link-border-color(#fff);
      +*{
        margin-top: 12px;
      }
    }
    &-number{
      font-size: 18px;
      font-weight: 700;
    }
  }
  &__sections{
    display: inline-block;
  }
  &__sections{
    font-size: 0;
    margin: 0 -25px;
    &-section{
      display: inline-block;
      vertical-align: bottom;
      padding: 0 25px;
      font-size: 16px;
    }
  }
  &-navigation{
    position: absolute;
    right: 0;
    //overflow: hidden;
    color: #000;
    background-size: cover;
    background-position: center;
    background-image: url('%=static=%assets/header/navigation_bg.jpg');
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 9;
    padding-top: 70px;
    padding-bottom: 60px;
    margin-top: -50%;
    opacity: 0;
    visibility: hidden;
    @include tr;
    &.active{
      margin-top: 0;
      opacity: 1;
      visibility: visible;
    }
    &__menu-list{
      @include nl;
      font-size: 0;
      li{
        display: inline-block;
        font-size: 40px;
        font-weight: 400;
        line-height: normal;
        +li{
          &:before{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 8px;
            height: 8px;
            background-color: #8e8e8e;
            margin: 0 14px;
            margin-top: -4px;
          }
        }
        a{
          color: #1a1b1b;
          padding: 20px 14px;
          display: inline-block;
          vertical-align: middle;
          span{
            border-bottom: 1px solid transparent;
          }
          &:hover{
            span{
              border-bottom: 1px solid rgba(26, 27, 27, 0.3);
            }
          }
        }
      }
    }
    &__category{
      &-list{
        font-size: 0;
        margin: -5px -15px;
        ul{
          @include nl;
          display: inline-block;
          vertical-align: top;
          width: 33.33%;
          font-size: 16px;
          font-weight: 100;
          line-height: 20px;
          li{
            display: block;
            padding: 5px 0;
            a{
              display: inline-block;
              color: #4e4e4e;
              padding: 8px 15px;
              padding-top: 10px;
              border-radius: 20px;
              @include tr;
              &:hover{
                background-color: $mainColor;
                color: #000;
              }
            }
          }
        }
      }
    }
  }
}









