html{
  overflow-x: hidden;
}
body, html{
  min-width: 320px;
}

@include my-media-query(max, map_get($grid-breakpoints, xl) - 1) {
  .arrow-beyond{
    .slick-arrow{
      &.slick-prev{
        margin-right: 0px;
      }
      &.slick-next{
        margin-left: 0px;
      }
    }
  }

  .city {
    &__item {
      &-title {
        font-size: 16px;
        margin-bottom: 15px;
      }
      &-text {
        font-size: 14px;
        line-height: 29px;
      }
    }
  }
  .header {
    &-navigation {
      &__menu-list {
        li {
          font-size: 35px;
        }
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {

  .callback-footer{
    text-align: center;
  }
  .footer__bottomMainBLock{
    text-align: center;
  }

  .footer {
    padding-bottom: 20px;
    &__navBlock{
      padding-bottom: 11px;
      hr{
        margin: 17px 0;
      }
    }
    &__navList {
      &-title{
        font-size: 17px;
      }
      &-list {
        li {
          a {
            padding: 10px 0;
          }
        }
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xs)) {

}

@include my-media-query(min, map_get($grid-breakpoints, sm)) {

}

@include my-media-query(min, map_get($grid-breakpoints, md)) {

}

@include my-media-query(min, map_get($grid-breakpoints, lg)) {
  .header {
    padding: 0 50px;
    padding-bottom: 53px;
    padding-top: 47px;
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xl)) {
  .header {
    &-navigation {
      &__form-search {
        padding-top: 11px;
      }
    }
  }
  .tabs{
    &__nav{
      &_big{
        margin: 0 -8px;
        li{
          padding: 0 8px;
          a{
            font-size: 30px;
            color: black;
          }
        }
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, md) - 1) {
  .callback-footer{
    text-align: center;
    &__title{
      color: #1a1b1b;
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 23px;
      letter-spacing: 0px;
    }
    &__titleSub{
      color: #1a1b1b;
      font-size: 16px;
      line-height: normal;
      letter-spacing: 0.7px;
    }
  }
  .footer{
    padding-bottom: 0;
    &__bottomBg{
      background-color: #2e3135;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    &__navList{
      &-listBlock{
        display: block;
        >*{
          display: block;
          width: auto;
        }
      }
    }
    &__navBlock{
      display: block;
      text-align: center;
      font-size: 0;
      border-bottom: none;
      padding: 0;
      >*{
        display: inline-block;
        width: 33.33%;
      }
    }
    &__bottomMainBLock{
      margin: 0;
    }
    &__bottom{
      display: block;
      >*{
        display: block;
        +*{
          margin-top: 10px;
        }
      }
    }
    &__ins{
      span{
        margin-left: 0;
      }
    }
  }

}

@include my-media-query(max, map_get($grid-breakpoints, sm) - 1) {
  .city{
    text-align: center;
    margin: 0 -15px;
    border-top-width: 1px;
    padding: 35px 50px;
    &__title{
      margin-bottom: 23px;
    }
    &__list{
      margin: 0;
      &-section{
        padding: 0;
      }
    }
    &__item{
      >*{
        +*{
          padding-left: 0;
        }
      }
      &-title{
        font-size: 16px;
        &-icon{
          margin-top: -4px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      &-text{
        font-size: 16px;
        line-height: 34px;
      }
    }
  }
  .footer {
    &__navBlock {
      > * {
        width: 100%;
        +*{
          margin-top: 40px;
        }
      }
    }
  }
}
