html{
  overflow-x: hidden;
}
body, html{
  min-width: 320px;
}

@media screen and (max-width: 462px) {
  .header {
    &__advantages {
      &-section {
        + * {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1243px) {
  .header__nav{
    margin-left: -15px;
    margin-right: -15px;
    li a{
      font-size: 16px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
@media screen and (max-width: 1486px) {
  .objects {
    &__arrow {
      &_prev {
        padding-right: 50px;
      }
      &_next {
        padding-left: 50px;
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, xl) - 1) {
  .header__form {
    &-title {
      font-size: 21px;
      line-height: 30px;
    }
  }
  .header_lp {
    .header-bottom__title {
      font-size: 49px;
      line-height: 64px;
    }
  }
  .header-bottom__title-stiker {
    right: -27px;
  }
  .header__form {
    &-sections {
      &-section {
        &_input{
          width: 50%;
        }
        &_btn {
          width: 100%;
        }
      }
    }
  }

  .header{
    &-bottom{
      &__title{
        font-size: 55px;
        line-height: 62px;
      }
      &__titleSub{
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  .index-products{
    &__section{
      width: 33.33%;
    }
  }

  .stock {
    &__item {
      height: 400px;
      padding-bottom: 117px;
      &-content {
        padding: 40px 0;
      }
      &-padding{
        padding-left: 40px;
        padding-right: 40px;
      }
      &-title {
        font-size: 25px;
        line-height: 32px;
      }
      &-text {
        font-size: 16px;
        line-height: 26px;
      }
      &-price{
        font-size: 30px;
        line-height: 30px;
      }
      &-bottom {
        padding-bottom: 40px;
      }
      &-table{
        &-cell{
          +*{
            padding-left: 20px;
          }
        }
      }
    }
    .slick-arrow {
      width: 40px;
    }
  }

  .staff {
    &__setions {
      font-size: 0;
      margin: -20px 0;
      &-section {
        display: inline-block;
        width: 33.33%;
        vertical-align: bottom;
        padding: 20px 0;
      }
    }
  }

  .filter{
    &__sections{
      &-title{
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .itemList{
    &__section{
      width: 20%;
    }
  }
  .arrow-beyond{
    .slick-arrow{
      &.slick-prev{
        margin-right: 0px;
      }
      &.slick-next{
        margin-left: 0px;
      }
    }
  }

  .city {
    &__item {
      &-title {
        font-size: 16px;
        margin-bottom: 15px;
      }
      &-text {
        font-size: 14px;
        line-height: 29px;
      }
    }
  }
  .header {
    &-navigation {
      &__menu-list {
        li {
          font-size: 35px;
        }
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, lg) - 1) {
  .list-step{
    margin: -10px;
    li {
      padding: 10px;
      font-size: 14px;
      line-height: 23px;
      width: 50%;
      &:after {
        left: 16px;
        top: 14px;
        font-size: 21px;
      }
      svg{
        width: 70px;
        &.icon__plate{
          width: 82px;
        }
        &.svg-shipping{
          width: 100px;
        }
      }
    }
    &__icon{
      &:after, &:before{
        display: none;
      }
    }
  }

  .list{
    font-size: 20px;
    li{
      padding-left: 30px;
      &:after{
        top: 4px;
        width: 12px;
        height: 12px;
      }
      +*{
        margin-top: 20px;
      }
    }
  }

  .block-bg {
    &__list-advantages {
      margin: 0 -20px;
      &-item {
        font-size: 28px;
        line-height: 47px;
        padding: 0 20px;
        &_line:after {
          margin-top: 3px;
          height: 127px;
        }
        &-title{
          font-size: 20px;
          line-height: 25px;
          margin-bottom: 20px;
        }
        &-text {
          &_big {
            font-size: 80px;
            line-height: 80px;
          }
        }
      }
    }
  }

  .objects {
    &__item {
      .objects__item-content_noHover {
        bottom: -100%;
        opacity: 0;
        visibility: hidden;
      }
      .objects__item-content_hover {
        bottom: 0;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .text-formMin{
    text-align: center;
    display: block;
  }

  .footer {
  }
  .header_lp .header-bottom {
    padding-top: 20px;
  }
  .header {
    &-bottom {
      padding-top: 20px;
    }
  }
  .statistics{
    &__section{
    }
    &__item{
      &-num{
        font-size: 25px;
        line-height: 35px;
      }
      &-desc{
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  .index-block-title{
    margin: 37px auto;
    &__title{
      font-size: 30px;
      line-height: 40px;
    }
    &__desc{
      font-size: 16px;
      line-height: 30px;
    }
  }
  .table-number{
    &__num{
      line-height: 43px;
      font-size: 70px;
      span{
        font-size: 91px;
      }
    }
    &__desc{
      font-size: 25px;
      line-height: 35px;
    }
    > * + * {
      padding-left: 27px;
    }
  }
  .card {
    &__slider {
      padding-right: 30px;
    }
  }
  .video-list {
    &__preview {
      float: none;
      font-size: 0;
      &-item{
        width: 25%;
        display: inline-block;
      }
    }
    &__video {
      margin-left: 0;
      margin-top: 7.5px;
    }
  }
  .advantages {
    &__item {
      width: 33.33%;
    }
  }

  h1, .h1 {
    font-size: 43px;
    line-height: 50px;
  }
  .products{
    &__sections{
      &-section{
        width: 33.33%;
      }
    }
    &__item {
      &-list {
        padding: 10px 0;
      }
    }
  }


  .contacts{
    &__sections{
      font-size: 0;
      margin: -20px;
      &-section{
        display: inline-block;
        font-size: 15px;
        padding: 20px;
        width: auto;
      }
    }
  }

  .table-inner{
    &__tr{
      display: block;
      border-bottom: none !important;
      +*{
        border-top: 1px solid #eee !important;
      }
      color: #1a1b1b;
      overflow: hidden;
      padding: 20px 0;
      >*{
        display: inline-block;
      }
    }
    &__td{
      display: block;
      //display: inline-block;
      &.text-center{
        text-align: left;
      }
      &_img{
        width: 180px;
        float: left;
        margin-right: 20px;
      }
    }
  }

  .filter{
    &__sections-section{
      width: 100% !important;
      display: block;
      padding-left: 0;
    }
    &__table{
      display: block;
      width: auto;
      text-align: center;
      margin: -10px -15px;
      &-cell{
        display: inline-block;
        width: 100%;
        padding: 10px 15px;
        //display: inline-block;
        //vertical-align: middle;
        //width: 50%;
        &__select{
          width: 33.33%;
        }
      }
      .form-search{
        width: 100%;
        &__inputs-input{
          width: 100%;
        }
      }
    }
  }

  .itemList{
    &__section{
      width: 25%;
    }
  }

  .callback-footer{
    text-align: center;
  }
  .footer__bottomMainBLock{
    text-align: center;
  }

  .footer {
    padding-bottom: 20px;
    &_lp {
      padding-top: 45px;
    }
    &__navBlock{
      padding-bottom: 11px;
      hr{
        margin: 17px 0;
      }
    }
    &__navList {
      &-title{
        font-size: 17px;
      }
      &-list {
        li {
          a {
            padding: 10px 0;
          }
        }
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xs)) {

}

@include my-media-query(min, map_get($grid-breakpoints, sm)) {

}

@include my-media-query(min, map_get($grid-breakpoints, md)) {
  .toggle-block{
    display: block !important;
  }
  .filter{
    &__sections{
      &-title{
        &_big{
          color: #1a1b1b;
          font-size: 30px;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, lg)) {
  .index-block-title__title_min{
    font-size: 50px;
    line-height: 65px;
  }
  .filter__table{
    .form-search{
      margin-top: 3px;
    }
  }
  .products{
    &__sections{
      &-section{
        &_col3{
          width: 33.33%;
        }
      }
    }
  }

  .table-inner{
    display: table;
    width: 100%;
    &__thead{
      display: table-header-group;
    }
    &__tbody{
      display: table-row-group;
      >*{
        &:first-child{
          >*{
            border-top: 1px solid #dadada;
          }
        }
        &:last-child{
          >*{
            border-bottom: 1px solid #dadada;
            &:first-child, &:last-child{
              border-bottom: 1px solid #dadada !important;
            }
          }
        }
        &:not(:last-child){
          >*{
            border-bottom: 1px dashed #dadada;
          }
        }
        >*{
          &:last-child{
            border-right: 1px solid #dadada;
          }
          &:first-child{
            border-left: 1px solid #dadada;
          }
        }
      }
      a{
        transition: .1s;
        position: relative;
        &:hover{
          box-shadow: 0 14px 24px rgba(0, 0, 0, 0.1);
          transform: scale(1.02);
          z-index: 1;
          >*{
            border-color: transparent !important;
            &:last-child, &:first-child{
              border-bottom-color: transparent !important;
            }
          }
          .item-table__title{
            color: #00a8ec;
            border-bottom-color: #00a8ec;
          }
        }
        .btn.btn-orange.btn-border{
          color: #6c6c6c;
          border-color: #737373;
          padding: 8px 37px;
          font-size: 14px;
          &:hover{
            color: #010101;
            background-color: #ffb33b;
            border-color: #ffb33b;
          }
        }
      }
    }
    &__tr{
      display: table-row;
      color: #1a1b1b;
      &_thead{
        color: #212121;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        >*{
          background-color: #ffb33b;
        }
      }
    }
    &__td{
      display: table-cell;
      vertical-align: middle;
      padding: 18px;
      &:nth-last-child(2){
        padding-right: 0 !important;
      }
      &_notPadding{
        padding: 0;
        width: 15px;
        border-bottom: none !important;
        +*{
          padding-left: 0 !important;
        }
      }
      &_img{
        width: 96px;
      }
    }
  }
  .header {
    padding: 0 50px;
    padding-bottom: 53px;
    padding-top: 47px;
  }
  .form-search{
    &_hidden{
      pointer-events: none;
      &.active{
        .form-search__inputs{
          opacity: 1;
          pointer-events: all;
        }
      }
      .form-search__inputs{
        position: absolute;
        right: -4px;
        top: -4px;
        opacity: 0;
        @include tr;
      }
      .form-search__btn{
        pointer-events: all;
        position: relative;
        top: 0;
        right: 0;
      }
    }
  }
}

@include my-media-query(min, map_get($grid-breakpoints, xl)) {
  .h2_big{
    font-size: 39px;
  }
  .header {
    &__sections {
      .bootstrap-select {
        margin-bottom: -9px;
        display: block !important;
      }
    }
  }
  .header {
    &-navigation {
      &__form-search {
        padding-top: 11px;
      }
    }
  }
  .tabs{
    &__nav{
      &_big{
        margin: 0 -8px;
        li{
          padding: 0 8px;
          a{
            font-size: 30px;
            color: black;
          }
        }
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, md) - 1) {
  .block-bg {
    padding: 40px 0;
    &__list-advantages {
      margin: 0;
      &-item {
        display: block;
        padding: 0;
        font-size: 25px;
        line-height: 34px;
        +*{
          margin-top: 20px;
        }
        &-title {
        }
      }
    }
  }

  .reviews {
    &__section {
      width: 50%;
    }
  }
  .advantages-lp {
    &__section {
      width: 50%;
    }
  }

  .btn-itemImg{
    font-size: 14px;
  }
  .header__form-title {
    font-size: 20px;
    line-height: 29px;
  }
  .header__form{
    text-align: center;
    .form-control{
      text-align: center;
    }
    &-sections{
      &-section{
        &_input{
          width: 100%;
        }
        &_btn{
        }
      }
    }
  }
  .header_lp .header-bottom__title {
    font-size: 34px;
    line-height: 45px;
    &-stiker {
      width: 85px;
      top: -43px;
      right: -10px;
    }
  }
  .header {
    &__advantages {
      &-item {
        &-title {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }

  .header-bottom{
    &__title{
      font-size: 40px;
      line-height: 47px;
    }
    &__titleSub{
      font-size: 17px;
      line-height: 25px;
      margin-bottom: 25px;
    }
  }
  .index-block-title{
    &__title{

    }
    &__desc{
      font-size: 15px;
      line-height: 22px;
    }
  }
  .table-number{
    text-align: center;
    display: block;

    >*{
      display: block;
      width: 100%;
      +*{
        padding-left: 0;
        padding-top: 12px;
      }
    }
    &__num{
    }
    &__desc{
    }
  }
  .index-products-slider{
    .products {
      &__item {
        &-img-content{
          text-align: center;
        }
        &-label {
          font-size: 18px;
        }
      }
    }
  }
  .card {
    > * {
      display: inline-block;
    }
    &__slider {
      display: block;
      padding-right: 0;
      width: 300px;
      max-width: 100%;
      margin: 0 auto;
    }
    &__desc {
      width: 100%;
    }
  }
  .advantages {
    &__list{
      margin: -15px;
      text-align: center;
    }
    &__item {
      padding: 15px;
      font-size: 14px;
      line-height: 22px;
      width: 50%;
    }
  }
  .products{
    &__sections{
      &-section{
        width: 50%;
      }
    }
  }
  .staff {
    &__setions {
      &-section {
        width: 50%;
      }
    }
  }
  .breadcrumb > li > * {
    font-size: 14px;
  }
  .filter {
    &__table {
      text-align: left;
      &-cell {
        width: 100%;
        &__select {
          width: 100%;
        }
      }
    }
  }

  h1, .h1 {
    font-size: 38px;
    line-height: 45px;
  }
  html, body {
    font-size: 14px;
    line-height: 27px;
  }

  .item {
    line-height: 26px;
    font-size: 16px;
    &__img{
      margin-bottom: 15px;
    }
    &__title{
    }
    &__titleSub{
      font-size: 15px;
    }
  }
  .itemList{
    &__section{
      width: 33.33%;
    }
  }
  .callback-footer{
    text-align: center;
    &__title{
      color: #1a1b1b;
      font-size: 25px;
      line-height: 35px;
      margin-bottom: 23px;
      letter-spacing: 0px;
    }
    &__titleSub{
      color: #1a1b1b;
      font-size: 16px;
      line-height: normal;
      letter-spacing: 0.7px;
    }
  }
  .footer{
    padding-bottom: 0;
    &_lp{
      padding-top: 0;
      .container{
        padding: 0;
      }
    }
    &__bottomBg{
      background-color: #2e3135;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    &__navList{
      &-listBlock{
        display: block;
        >*{
          display: block;
          width: auto;
        }
      }
    }
    &__navBlock{
      display: block;
      text-align: center;
      font-size: 0;
      border-bottom: none;
      padding: 0;
      >*{
        display: inline-block;
        width: 33.33%;
      }
    }
    &__bottomMainBLock{
      margin: 0;
    }
    &__bottom{
      display: block;
      >*{
        display: block;
        +*{
          margin-top: 10px;
        }
      }
    }
    &__ins{
      span{
        margin-left: 0;
      }
    }
  }
  #yamap{
    height: 350px;
  }
}

@media screen and (max-width: 689px) {
  .stock{
    &__item{
      height: 460px;
      &-bottom {
        padding-bottom: 98px;
      }
      .btn{
        width: 111%;
        margin-left: -15px;
      }
    }
  }
}

@include my-media-query(max, map_get($grid-breakpoints, sm) - 1) {
  .index-block-title__title {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 5px;
  }
  .reviews {
    &__section {
      width: 100%;
    }
  }
  .advantages-lp {
    &__section {
      width: 100%;
    }
  }

  .header_lp .header-bottom__title {
    font-size: 20px;
    line-height: 29px;
    &-stiker {
      width: 55px;
      top: -26px;
    }
  }
  .header-bottom{
    &__title{
      font-size: 22px;
      font-weight: 900;
      line-height: 26px;
      margin-bottom: 5px;
    }
  }
  .video-list {
    &__preview {
      &-item{
        width: 50%;
      }
    }
    &__video-el{
      iframe{
        height: 300px;
      }
    }
  }
  .products{
    &__sections{
      &-section{
        width: 100%;
      }
    }
  }
  .staff {
    &__setions {
      &-section {
        width: 100%;
      }
    }
  }
  .tabs {
    &__nav {
      margin: 0 -16px;
      li {
        a {
          padding: 13px 16px;
          display: block;
        }
      }
    }
  }
  .contacts{
    &__sections{
      display: table;
      width: 100%;
      margin: 0;
      &-section{
        display: table-row-group;
        padding: 0;
      }
    }
    &__item{
      display: table-row;
      >*{
        padding-bottom: 30px;
      }
    }
  }
  .table-inner {
    &__td {
      &_img {
        float: none;
        margin-bottom: 20px;
      }
    }
  }

  h2, .h2{
    font-size: 22px;
    line-height: 31px;
  }
  h1, .h1 {
    font-size: 30px;
    line-height: 37px;
  }

  .itemList{
    &__section{
      width: 50%;
    }
  }
  .city{
    text-align: center;
    margin: 0 -15px;
    border-top-width: 1px;
    padding: 35px 50px;
    &__title{
      margin-bottom: 23px;
    }
    &__list{
      margin: 0;
      &-section{
        padding: 0;
      }
    }
    &__item{
      >*{
        +*{
          padding-left: 0;
        }
      }
      &-title{
        font-size: 16px;
        &-icon{
          margin-top: -4px;
          display: inline-block;
          vertical-align: middle;
        }
      }
      &-text{
        font-size: 16px;
        line-height: 34px;
      }
    }
  }
  .footer {
    &__navBlock {
      > * {
        width: 100%;
        +*{
          margin-top: 40px;
        }
      }
    }
  }
}
